{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-bottom:100px;">
<form method="POST" enctype="multipart/form-data" class="border border-3 border-primary bg-secondary">
    {% csrf_token %}
    <div class="m-3">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter username">
    </div>
    <div class="m-3">
  <label class="form-label">Firstname</label>
  <input type="text" class="form-control" name="f" placeholder="Enter firstname">
    </div>
    <div class="m-3">
  <label class="form-label">Lastname</label>
  <input type="text" class="form-control" name="l" placeholder="Enter lastname">
    </div>
  <div class="m-3">
  <label class="form-label">email</label>
  <input type="email" class="form-control" name="e" placeholder="Enter mail.id">
    </div>
  <div class="m-3">
  <label class="form-label">password</label>
  <input type="password" class="form-control" name="p" placeholder="Enter password">
    </div>
  <div class="m-3">
  <label class="form-label">place</label>
  <input type="text" class="form-control" name="pl" placeholder="Enter place">
    </div>
  <div class="m-3">
  <label class="form-label">phone.number</label>
  <input type="number" class="form-control" name="n" placeholder="Enter phone.number">
    </div>
    <div class="mb-3">
  <input type="submit" value="Register" style="margin-left:15px;">
    </div>
</form>
</div>
{% endblock %}